#ball {
  height:20px;
  width:20px;
  background:#FFA500;
  border-radius: 50%;
  position: absolute;
  top:175px;
  left: 250px;
}


.container {
  width: 500px;
  height: 350px;
  position: relative;
  background: #003366;
  border: 2px solid white;
  margin: 50px auto;

}

.bat1 {
  position: absolute;
  height: 150px;
  width: 25px;
  background-color: Red;
  left:0;
  top:100px;

}

.bat2 {
  position: absolute;
  height: 150px;
  width: 25px;
  background-color: blue;
  top:30%;
  right: 0;
}

h1 {
  text-align: center;
}
