

.container {
  width:400px;
  height:400px;
  background-color: black;
  margin:0 auto;

}

#green {
  background-color: green;
  width: 200px;
  height: 200px;
  float: left;
}

#red {
  background-color: red;
  width: 200px;
  height: 200px;
  display: inline-block;
}

#yellow {
  background-color: yellow;
  height: 200px;
  width: 200px;
  float: left;
  clear: left;
}

#blue {
  background-color: blue;
  height: 200px;
  width: 200px;
  float: left;

}

.box  {
  font-size: 40px;


}
